name: Ubuntu 22.04 Humble Build

on:
  pull_request:
  push:
    branches:
      - humble

jobs:
  Build:
    runs-on: self-hosted
    container:
      image: osrf/ros:humble-desktop-full-jammy

    steps:
    - name: Update
      run: apt update

    - name: Install PIP
      run: apt install -y python3-pip lcov

    - name: Install colcon tools
      run: python3 -m pip install colcon-lcov-result colcon-coveragepy-result

    - name: Run Tests
      uses: ros-tooling/action-ros-ci@0.3.5
      with:
        ref: humble
        target-ros2-distro: humble
        import-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Logs
      uses: actions/upload-artifact@v1
      with:
        name: colcon-logs
        path: ros_ws/log
      if: always()
